.selector-for-some-widget {
    box-sizing: content-box;
}

/* Navbar */
.navbar {
    font-family: sans-serif;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navbar-expand-lg {
    padding-right: 0;
    padding-left: 0;
}

.navbar-brand {
    color: #fff;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-toggler {
    font-size: 80%;
    padding: .8rem;
}