body {

    background-color: black;
    color: white;
    font-family: Courier New, Courier, monospace;
    font-size: 15px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        margin-left: 40px;
        margin-top: 40px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        margin-left: 100px;
        margin-top: 45px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        margin-left: 120px;
        margin-top: 50px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        margin-left: 140px;
        margin-top: 55px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        margin-left: 160px;
        margin-top: 60px;
    }
}

/* body */
li {
    margin-top: 10px;
}

span {
    font-size: 13px;

}

a {
    color: #a6daef;
    letter-spacing: 0.1em;
    text-decoration: none;
}

a:hover {
    color: #f8c9c0;
    text-decoration: underline;
}

/* title */
h1 {
    display: table;
    color: black;
    padding: 0 10px 0 10px;
    margin-bottom: 10px;
    letter-spacing: 0.1em;
}

.intro {
    font-size: 20px;
    background-color: #f4858e;
}

.title {
    font-size: 18px;
    background-color: #fed88f;
    text-decoration: underline;
}

.section {
    font-size: 18px;
    background-color: #bfe2ca;
    margin-top: 50px;
}


/* experience */
ol li a {
    text-decoration: none;
    color: #f8c9c0;
}

a:hover {
    color: #a6daef;
}

/* images */
.emoji {
    font-size: 20px;
}